@import "./setting";
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  height: 60vh;
  width: 400px;
  background-color: $tertiary-color;
}

@include media-query(668px) {
  .modal {
    height: 90vh;
    width: 90%;
    border-radius: 1%;
  }
}
.modal-header {
  @include flexItem(unset, flex-end, unset);
  margin-right: 20px;
}

.modal-header__button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: inherit;
  color: $primary-color;
}
@include media-query(668px) {
  .modal-header__button {
    height: 25px;
    width: 25px;
    margin-top: 20px;
  }
}

.modal-text {
  height: 80%;
  font-size: 14px;
  color: $primary-color;
  overflow: scroll;
  margin-left: 20px;
}
@include media-query(668px) {
  .modal-text {
    font-size: 12px;
    margin-left: 10px;
  }
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
